bin/
*.sw[op]
*~
obj/
build/
cscope.out
*/__pycache__
*.E
*.pyc
tags
*.hobj
*.o
*.a
*.lst
*.map
*.elf
*.size
*.bin
*.p
host/simtrace2-list
host/simtrace2-remsim
host/simtrace2-remsim-usb2udp
host/contrib/simtrace2.spec
usb_strings_generated.h
firmware/usbstring/usbstring
