.o
*.a
*.lo
*.la
.deps
Makefile
Makefile.in

#configure
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure.lineno
depcomp
install-sh
missing
stamp-h1
m4

#libtool
ltmain.sh
libtool
.libs

.tarball-version
.version

*.pc

simtrace2-list
simtrace2-sniff
simtrace2-remsim
simtrace2-remsim-usb2udp
