bin/
*.sw[op]
*~
obj/
build/
cscope.out
main.c
atmel_softpack_libraries/libjpeg
atmel_softpack_libraries/libqtouch
atmel_softpack_libraries/rtos
atmel_softpack_libraries/sam-gui
atmel_softpack_libraries/fat
